# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/playground1/v15/.suo
*.db
*.ipch
bin/data/.gitkeep
*.log
*.tlog
bin/playground1_debug.exp
bin/playground1_debug.ilk
bin/playground1_debug.pdb
*.make
*.vcxproj
*.filters
*.user
*.res
*.pdb
*.rc
*.sln
bin/playground1.exp
